services:
  app:
    container_name: flownau
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - ./src:/app/src
      - ./public:/app/public
      - ./prisma:/app/prisma
      - ./.env:/app/.env
      - /app/node_modules
      - ./.next:/app/.next
    env_file: .env
    environment:
      - NODE_ENV=development
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - app-network
      - shared-mesh
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.flownau.rule=Host(`${PUBLIC_DOMAIN:-flownau.localhost}`)'
      - 'traefik.http.routers.flownau.entrypoints=web'
      - 'traefik.http.services.flownau.loadbalancer.server.port=3000'
      - 'traefik.docker.network=shared-mesh'
    command: npm run dev
    restart: always

  postgres:
    image: postgres:15-alpine
    container_name: flownau-postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}']
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    container_name: flownau-redis
    restart: always
    command: redis-server --requirepass "${REDIS_PASSWORD}"
    healthcheck:
      test: ['CMD-SHELL', 'redis-cli -a "$$REDIS_PASSWORD" ping']
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network
    volumes:
      - redis_data:/data

networks:
  app-network:
    driver: bridge
  shared-mesh:
    external: true

volumes:
  postgres_data:
  redis_data:
